body{
  background-color: #cc9ad6;
  font-family: 'Ubuntu', sans-serif;
}

img {
  position: absolute;
  margin-left: 10%;
  height:80%;
  display:inline-block;
}

button{
  margin-top:10%;
}

ul{
  list-style-type: none;
  display:inline-block;
}

.character{
  z-index: 10;   
}

.ccharacter{
  z-index: -1000;   
}

.hair{
  visibility:hidden;
  z-index: 14;
}

.forehead{
  visibility:hidden;
  z-index: 13;
}

.collar{
  visibility:hidden;
  z-index: 12;
}

.sleeve{
  visibility:hidden;
  z-index: 11;
}

.chair{
  visibility:hidden;
  z-index: 4;
}

.cforehead{
  visibility:hidden;
  z-index: 3;
}

.ccollar{
  visibility:hidden;
  z-index: 1;
}

.csleeve{
  visibility:hidden;
  z-index: 2;
}
